<div class="card-columns mt-4">
  <div class="card" [routerLink]="['/recipes/entrantes']">
    <img class="card-img-top" src="../../../assets/appetizers.jpg">
    <div class="card-body"></div>
    <h4 class="card-title ml-3">Entrantes</h4>
  </div>
  <div class="card" [routerLink]="['/recipes/arroz']">
    <img class="card-img-top" src="../../../assets/rice.jpg">
    <div class="card-body"></div>
    <h4 class="card-title ml-3">Arroz</h4>
  </div>
  <div class="card" [routerLink]="['/recipes/carne']">
    <img class="card-img-top" src="../../../assets/meat.jpg">
    <div class="card-body"></div>
    <h4 class="card-title ml-3">Carne</h4>
  </div>
</div>
<div class="card-columns mt-2">
  <div class="card" [routerLink]="['/recipes/pasta']">
    <img class="card-img-top" src="../../../assets/pasta.jpg">
    <div class="card-body"></div>
    <h4 class="card-title ml-3">Pasta</h4>
  </div>
  <div class="card" [routerLink]="['/recipes/pescado']">
    <img class="card-img-top" src="../../../assets/fish.jpg">
    <div class="card-body"></div>
    <h4 class="card-title ml-3">Pescado</h4>
  </div>
  <div class="card" [routerLink]="['/recipes/vegetariano']">
    <img class="card-img-top" src="../../../assets/vegetarian.jpg">
    <div class="card-body"></div>
    <h4 class="card-title ml-3">Vegetariano</h4>
  </div>
</div>
<div class="card-columns mt-2">
  <div class="card" [routerLink]="['/recipes/postres']">
    <img class="card-img-top" src="../../../assets/dessert.jpg">
    <div class="card-body"></div>
    <h4 class="card-title ml-3">Postres</h4>
  </div>
  <div class="card" [routerLink]="['/recipes/all']">
    <img class="card-img-top" src="../../../assets/all.jpg">
    <div class="card-body"></div>
    <h4 class="card-title ml-3">Todas las recetas</h4>
  </div>
</div>
