<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link  bg-success text-light" href="#" (click)="orderByTime($event)">Ordenar por tiempo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-success text-light ml-3" href="#" (click)="orderByRating($event)">Ordenar por valoración</a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="search" name="search" placeholder="Buscar"
      aria-label="Buscar">
  </form>
</nav>

<div *ngIf="recipes && recipes.length">
  <div class="row headers no-gutters">
    <div class="col-2"></div>
    <div class="col-4">{{headers.title}}</div>
    <div class="col">{{headers.time}}</div>
    <div class="col">{{headers.difficulty}}</div>
    <div class="col">{{headers.rating}}</div>
  </div>

  <recipe-item class="row no-gutters mt-3" *ngFor="let recipe of recipes | recipeFilter:search" [recipe]="recipe"
    [routerLink]="['/recipes', recipe.type, recipe.codRec]">
  </recipe-item>

</div>
<div *ngIf="!recipes || !(recipes.length)" class="mt-4">
  <h3>No hay recetas de este tipo disponibles</h3>
  <button class="btn btn-success mt-4 ml-4" (click)="goCreate()" *ngIf="logged">
    ¡Crea tú la primera!
  </button>
</div>
