<form class="mt-4" (ngSubmit)="addRecipe()" #addForm="ngForm" [ngClass]="getFormPristine(addForm)">
  <div class="form-group">
    <label for="title">Nombre</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="newRecipe.title"
      placeholder="Introduzca el nombre" required minlength="3" #titleModel="ngModel"
      [ngClass]="validClasses(titleModel, 'is-valid', 'is-invalid')">
      <div class="invalid-feedback" *ngIf="titleModel.errors && titleModel.errors.required">
        Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="titleModel.errors && !titleModel.errors.required &&
        titleModel.errors.minlength">
        El nombre de la receta debe contener al menos 3 caracteres
      </div>
  </div>
  <div class="form-group">
    <label for="quantities">Ingredientes (separados por "; ")</label>
    <textarea class="form-control" name="quantities" [(ngModel)]="newRecipe.quantities"
      rows="3" required #quantitiesModel="ngModel"
      [ngClass]="validClasses(quantitiesModel, 'is-valid', 'is-invalid')"></textarea>
      <div class="invalid-feedback" *ngIf="quantitiesModel.errors && quantitiesModel.errors.required">
        Campo requerido
      </div>
  </div>
  <div class="form-group">
    <label for="description">Procedimiento a seguir</label>
    <textarea class="form-control" name="description" [(ngModel)]="newRecipe.description"
      rows="3" required #descriptionModel="ngModel"
      [ngClass]="validClasses(descriptionModel, 'is-valid', 'is-invalid')"></textarea>
      <div class="invalid-feedback" *ngIf="descriptionModel.errors && descriptionModel.errors.required">
        Campo requerido
      </div>
  </div>
  <div class="form-group">
    <label for="time">Tiempo de preparación en minutos</label>
    <input type="number" class="form-control" name="time" [(ngModel)]="newRecipe.time"
      min="0" max="10000" step="1"  required #timeModel="ngModel"
      [ngClass]="validClassesTime(timeModel, 'is-valid', 'is-invalid')" />
      <div class="invalid-feedback" *ngIf="newRecipe.time === null">
        Campo requerido
      </div>
      <div class="invalid-feedback" *ngIf="newRecipe.time === 0">
        El tiempo debe ser mayor que 0 minutos
      </div>
  </div>
  <div class="form-group">
    <label for="difficulty">Dificultad</label>
    <select class="form-control" name="difficulty" [(ngModel)]="newRecipe.difficulty" required #difficultyModel="ngModel"
    [ngClass]="validClasses(difficultyModel, 'is-valid', 'is-invalid')">
      <option value="baja">Baja</option>
      <option value="media">Media</option>
      <option value="alta">Alta</option>
    </select>
      <div class="invalid-feedback" *ngIf="descriptionModel.errors && descriptionModel.errors.required">
        Campo requerido
      </div>
  </div>
  <div class="form-group">
    <label for="type">Tipo de receta</label>
    <select class="form-control" name="type" [(ngModel)]="newRecipe.type" required #typeModel="ngModel"
    [ngClass]="validClasses(typeModel, 'is-valid', 'is-invalid')">
      <option value="entrantes">Entrantes</option>
      <option value="arroz">Arroz</option>
      <option value="carne">Carne</option>
      <option value="pasta">Pasta</option>
      <option value="pescado">Pescado</option>
      <option value="vegetariano">Vegetariano</option>
      <option value="postres">Postres</option>
    </select>
      <div class="invalid-feedback" *ngIf="descriptionModel.errors && descriptionModel.errors.required">
        Campo requerido
      </div>
  </div>
  <div class="form-group">
    <label for="image">Imagen</label>
    <input type="file" class="form-control" name="image" [(ngModel)]="fileImg"
      #fileImage (change)="changeImage(fileImage)">
  </div>
  <img [src]="newRecipe.image" alt="" class="img-thumbnail">
  <button type="submit" class="btn btn-success mb-4"
    [disabled]="addForm.invalid || !newRecipe.image || newRecipe.time === 0">
      Crear receta
  </button>
</form>
