<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand m-r4" href="#">El Recetario</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['recipes']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">Recetas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['recipes/add']" [routerLinkActive]="['active']" *ngIf="logged">Crear receta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['info']" [routerLinkActive]="['active']">Acerca de nosotros</a>
    </li>
  </ul>

  <ul class="navbar-nav navbar-right">
    <li class="nav-item" *ngIf="!logged">
      <a class="nav-link" [routerLink]="['auth/login']" [routerLinkActive]="['active']">Iniciar sesión</a>
    </li>

    <li class="dropdown" *ngIf="logged">
      <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{email}}
      </a>

      <div class="dropdown-menu dropdown-menu-right bg-success" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item text-light" [routerLink]="['/recipes/favorite']">Favoritos</a>
        <a class="dropdown-item text-light" (click)="logout()">Cerrar sesión</a>
      </div>
    </li>
  </ul>
</nav>
