<div class="card-columns mt-4">
  <div class="card" [routerLink]="['/recipes/rice']">
    <img class="card-img-top" src="../../../assets/rice.jpg">
    <div class="card-body"></div>
      <h4 class="card-title ml-4">Arroz</h4>
  </div>
  <div class="card" [routerLink]="['/recipes/vegetariano']">
    <img class="card-img-top" src="../../../assets/vegetarian.jpg">
    <div class="card-body"></div>
      <h4 class="card-title ml-4">Vegetariano</h4>
  </div>
  <div class="card" [routerLink]="['/recipes/dessert']">
    <img class="card-img-top" src="../../../assets/dessert.jpg">
    <div class="card-body"></div>
      <h4 class="card-title ml-4">Postre</h4>
  </div>
</div>
